# Build outputs
**/bin/
**/obj/
artifacts/

# Source control and IDE
.git/
.gitignore
.vs/
.vscode/
.idea/

# OS files
.DS_Store

# Node
**/node_modules/

# NuGet packages
**/*.nupkg

# User-specific files
*.user
*.suo

# Logs
logs/
*.log
